<!DOCTYPE html>
<html>
    <head>
        <title>
            register
        </title>
        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"> -->
        <link rel="stylesheet" type="text/css" href="../static/class.css">

        <style>
            input{
                width: 200px;
                height: 25px;
                margin-bottom: 10px;
            }
            button{
                width: 210px;
                height: 25px;
                margin-bottom: 10px;
            }
        </style>
</head>
    </head>
    <body style="margin: 0px;">
        <div class="login_screen">
            <div class="login_box">
                <img src="../static/login.png" style="max-width: 15vh; height: auto;">
                <div style="font-weight: bold;font-size: 30px;color: burlywood; margin-bottom: 10px;">Signup</div>
                <form class="form" id="register_manager" action="/user_register" method="POST">
                    <input type="text" id="email" name="email" placeholder="email">
                    <input type="text" id="username" name="username" placeholder="username">
                    <input type="text" id="password" name="password" placeholder="password">
                    <button type="button" onclick="check()">Register</button>
                </form>
                <button type="button" onclick="window.location.href = '/'">Back to login</button>


            </div>
        </div>

        <script>
            function check(){
                let email = document.getElementById('email').value;
                let username = document.getElementById('username').value;
                let account = document.getElementById('password').value;
                if ((username == '') || (account == '') || (email == '')){
                    alert('please enter completely');
                } else{
                    document.getElementById('register_manager').submit();
                }
            }
        </script>
        
    </body>
</html>